@{
    ViewData["Title"] = "Home Page";
}
@if(ViewBag.Error!=null)
            {
                <div style="background-color:red; color:white; font-size:32px;font-weight:bolder">ATTENTION : @ViewBag.Error</div>
            }
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
